@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-amparo-blue-dark: #1e3a8a;
  --color-amparo-blue: #1e40af;
  --color-amparo-teal: #0d9488;
  --color-amparo-teal-light: #f0fdfa;
  --color-amparo-whatsapp: #22c55e;
  --color-amparo-whatsapp-hover: #16a34a;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply text-slate-800 antialiased selection:bg-amparo-teal selection:text-white bg-slate-50;
}
